*{
    padding: 2px;
    /* margin: 2px; */
    overflow-x: hidden;
}

#outerblock {
    width: 98%;
    height: 100%;
    border: 1px solid black ;
    margin: auto;
    background-color: rgb(209, 251, 246);
   
}

#title{
    text-align: center;
    color: rgb(6, 97, 94);
    font-family:Arial, Helvetica, sans-serif;
}

#outer{
    margin-top: 20px;
}

#leftinput {

    border-radius: 50px;
    width: 990px;
    height: 35px;
    margin: auto;
    
    text-emphasis-color: black;
    float: left;
    flex: 80%;
    margin-top: 10px;  
    
}

#dropdown{
    border-radius: 50px;
    width: 235px;
    height: 40px;
    margin: auto;
    text-emphasis-color: black;
    float: left;
    flex: 80%;
    margin-top: 10px; 
    padding: 1px;
    margin-right: 10px;

}

#monthInput{
    border-radius: 50px;
    width: 235px;
    height: 35px;
    margin: auto;
    
    text-emphasis-color: black;
    float: left;
    flex: 80%;
    margin-top: 10px; 
    margin-right: 10px;
}

#rightbutton {

    border-radius: 50px;
    width: 220px;
    height: 43px;
    margin: auto;
    color: white;
    background-color: rgb(3, 140, 140);
    float: right;
    display: block;
    flex: 10%;
    margin-top: 10px;  
    box-shadow: none;
    
}

#multipleinput {
    border-radius: 20px;
    width: 150px;
    height: 35px;
    margin: left;
    color: white;
    float: left;
    margin-top: 10px;
}

#button1{
    border-radius: 80px;
    width: 150px;
    height: 50px;
    background:rgb(3, 140, 140);
    color: aliceblue;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
#button2{
    border-radius: 80px;
    width: 150px;
    height: 50px;
    background:rgb(3, 140, 140);
    color: aliceblue;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
#button3{
    border-radius: 80px;
    width: 150px;
    height: 50px;
    background:rgb(3, 140, 140);
    color: aliceblue;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
#button4{
    border-radius: 80px;
    width: 150px;
    height: 50px;
    background:rgb(3, 140, 140);
    color: aliceblue;
    margin: 10px;
    padding: 10px;
    text-align: center;
}


#box{

    width: 300px;
    height: 180px;
    float: left;
    text-align: center;
    margin-top: 20px;
}

#b1{
    background:rgb(169, 222, 222);
}

#b2{
    background:rgb(97, 199, 199);
}
#b3{
    background:rgb(53, 163, 163);  
}
#b4{
    background:rgb(22, 125, 125);
}